<template lang="html">
  <center><br>
    <h1>Ajouter un élément à {{liste.name}}</h1><br>
    <form @submit="checkForm" style="max-width:600px; margin-left:auto; margin-right:auto;" action="#">
      <p class="error" v-if="errors.length">
        <b>Merci de corriger les erreurs suivantes :</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Nom : </span>
        </div>
        <input type="text" class="form-control" placeholder="ex : patates douces, pommes, bières ..." v-model="name">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Quantité : </span>
        </div>
          <input type="text" class="form-control" placeholder="ex : 2, 4, 12 ..." v-model="quantity">
      </div>
      <button type="submit" @click="addItem" class="btn btn-dark">Ajouter à la liste</button>
    </form>
  </center>
</template>

<script>
export default {
  name: 'AddItem',
  data : () => ({
    errors: [],
    liste: [],
    name: '',
    quantity: ''
  }),
  mounted() {
    var myLists = localStorage.getItem('myLists')
    if (myLists) this.myLists = JSON.parse(myLists)
    const index = this.myLists.findIndex(list => list.id === Number(this.$route.params.id))
    this.liste = this.myLists[index]
  },
  methods: {
    addItem() {
      let date = new Date();
      const newItem = {
        id: date.getTime(),
        name: this.name,
        quantity: this.quantity,
      }
      let myLists = JSON.parse(localStorage.getItem('myLists'))
      const index = this.myLists.findIndex(list => list.id === Number(this.$route.params.id))
      this.myLists[index].nbItems.push(newItem)
      localStorage.setItem('myLists', JSON.stringify(this.myLists))
      const idTopass = this.myLists[index]['id']
      this.$router.push({ name: 'liste', params:{id: idTopass}})
    },
    checkForm: function (e) {
    if (this.name && this.quantity) {
      this.addItem();
    }
    this.errors = [];

    if (!this.name) {
      this.errors.push('Nom requis.');
    }
    if (!this.quantity) {
      this.errors.push('Quantité requise.');
    }

    e.preventDefault();
    }
  }
}
</script>

<style lang="css" scoped>
.error{
  color : #c70039;
}
.error li {
  list-style: none;
}
</style>
