<template>
<footer class="page-footer font-small fixed-bottom">
  <center>
    <p class="footer-copyright text-center py-3">© 2020 Copyright: <a href="https://gitlab.com/SimonClbt/m2_vuejs">Simon Clerbout</a></p>
  </center>
</footer>
</template>

<style>
  .page-footer {
    background-color : #343a40;
    color : #fff;
  }
  
</style>
