<template>
  <div class="">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="">
        <router-link to="/"><img src="../assets/icone.png" width="50" height="50" alt=""></router-link>
      </a>
      <a class="navbar-text">
             <router-link to="/listing">Mes SpeciaListes</router-link>
         </a>
    </nav>
  </div>
</template>
