<template>
<div class="content">
  <center>
    <h1>SpeciaListe</h1>
    <p>Utilisez SpeciaListe pour accéder à vos listes de n'importe où !</p><br>
    <img src="../assets/banniere.jpg" alt="" height="400">
    <p>SpeciaListe vous permet de : </p>
    <ul class="list-group">
        <li>
          Consulter et créer des listes.
        </li>
        <li>
          Ajouter des éléments à vos listes.
        </li>
        <li>
          Supprimer des éléments de vos listes.
        </li>
    </ul>
  </center>
</div>


</template>

<style media="screen">
  .list-group {
    width : 400px;
  }
  .list-group li {
    list-style : none;
  }
</style>
