<template>
  <center><br>
    <h1>Edition de {{liste.name}}</h1><br>
    <div id="app" style="max-width:600px; margin-left:auto; margin-right:auto;">
      <button @click="redirectToAddItem()" class="btn btn-dark" type="button" name="button">Ajouter un élément</button>
      <br><br>
      <ul>
        <li style="list-style: none; max-width:600px;" v-for="(item, index) in liste.nbItems" :key="index">
          <div class="row">
            <div class="col-sm"><label style="float : left;">{{item.quantity}}x </label></div>
            <div class="col-sm">
              <label>{{ item.name }}</label>
            </div>
            <div class="col-sm"><button class="trash" type="button" name="button" @click="removeItem(item.id)"><img src="../assets/trashListe.png" height="35" width="35"></button></div>
          </div>
        </li>
      </ul>
    </div>
    <p>Il y a {{liste.nbItems.length}} types d'items dans la liste</p>
  </center>
</template>

<script>
export default {
  name : 'liste',
  data(){
    return {
      myLists : [],
      liste : [],
      quantity : '',
      name : ''
    }
  },
  watch : {
    myLists : {
      handler() {
        localStorage.setItem('myLists', JSON.stringify(this.myLists));
      },
      deep: true
    }
  },
  created() {
       this.myLists = JSON.parse(localStorage.getItem('myLists')) || []
  },
  mounted() {
    var myLists = localStorage.getItem('myLists')
    if (myLists) this.myLists = JSON.parse(myLists)
    const index = this.myLists.findIndex(list => list.id === Number(this.$route.params.id))
    this.liste = this.myLists[index]
  },
  methods : {
    removeItem (id) {
      const indexListe = this.myLists.findIndex(list => list.id === Number(this.$route.params.id))
      const indexItem = this.liste.nbItems.findIndex(item => item.id === Number(id))
      this.myLists[indexListe].nbItems.splice(indexItem, 1)
      localStorage.setItem('myLists', JSON.stringify(this.myLists))
    },
    redirectToAddItem(){
      const index = this.myLists.findIndex(list => list.id === Number(this.$route.params.id))
      this.liste = this.myLists[index]
      const idTopass = this.liste['id']
      this.$router.push({path : `/liste/${idTopass}/add`})
    },
  }
}
</script>

<style lang="css" scoped>
  .trash {
    border : none;
    background-color: inherit;
    margin-right: 0px;

  }
  li {
    vertical-align: middle;
    height: 40px;
  }
</style>
