<template>
    <center>
      <h1>Listing des listes</h1>
      <div style="max-width:600px; margin-left:auto; margin-right:auto;" v-for="(item, index) in myLists" :key="index" class="row-liste">
        <div class="card" >
          <img class="card-img-top" src="../assets/background.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><b>{{item.name}}</b></h4>
            <button class="card-text" type="button" name="button" @click="deleteList(index)"><img src="../assets/trash.png" height="50" width="50"></button>
            <button class="card-text" type="button" name="edit" @click="redirectToList(index)"><img src="../assets/edit.png" height="50" width="50"></button>
            <p>nombre d'items : <b>{{item.nbItems.length}}</b></p>
          </div>
        </div>
      </div><br>
      <router-link to="/new">
                <button type="button" class="btn btn-dark">Créer une liste</button>
            </router-link>
    </center>
</template>

<script>
  import Liste from './Liste.vue'
  export default {
    name : 'Listing',
    components: {
      Liste
    },
    data : () => ({
      myLists : []
    }),
    watch : {
      myLists : {
        handler() {
          localStorage.setItem('myLists', JSON.stringify(this.myLists));
        },
        deep: true
      }
    },
    mounted() {
      var localLists = localStorage.getItem('myLists')
      if (localLists) this.myLists = JSON.parse(localLists)
    },
    methods : {
      deleteList(index){
        this.myLists.splice(index, 1)
      },
      redirectToList(index){
        const myId = this.myLists[index]
        const idTopass = myId['id']
        this.$router.push({ name: 'liste', params:{id: idTopass}});
      }

    }
  }
</script>

<style media="screen">
  .btn {
    margin-bottom: 0px;
  }
  button {
    border : none;
    background-color: inherit;
  }

  .card-img-top{
    height : 80px;
    width : 80px;
  }
</style>
