<template>
  <div>
    <center>
      <h1>Créer une liste</h1>
    </center>
    <form @submit="checkForm" style="max-width:600px; margin-left:auto; margin-right:auto;" action="#">
      <p class="error" v-if="errors.length">
        <b>Merci de corriger les erreurs suivantes :</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Nom : </span>
        </div>
        <input type="text" class="form-control" placeholder="Entrer un nom" aria-label="Username" aria-describedby="basic-addon1" v-model="name">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Description : </span>
        </div>
        <input type="text" class="form-control" placeholder="Entrer une description" aria-label="Username" aria-describedby="basic-addon1"  v-model="description" >
      </div>
      <button type="submit"  class="btn btn-dark">Créer la liste</button>
    </form>
  </div>
</template>

<script>
  export default{
    name : 'NewList',
    data : () => ({
      errors: [],
      name: '',
      description: ''
    }),
    methods : {
      newList() {
        let date = new Date();
        const list = {
          id : date.getTime(),
          name : this.name,
          description : this.description,
          listDate : date.getDate(),
          nbItems : []
        }
        let myLists = JSON.parse(localStorage.getItem('myLists')) || []
        myLists.push(list)
        localStorage.setItem('myLists', JSON.stringify(myLists))
        this.$router.push({ name: 'listing'});
      },
      checkForm: function (e) {
      if (this.name && this.description) {
        this.newList();
      }

      this.errors = [];

      if (!this.name) {
        this.errors.push('Nom requis.');
      }
      if (!this.description) {
        this.errors.push('Description requise.');
      }

      e.preventDefault();
      }
    }
  }
</script>

<style media="screen">
  .error{
    color : #c70039;
  }
</style>
